<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tube2Go - YouTube Downloader</title>
</head>
<body>
    <h1>Download Music/Video from YouTube</h1>
    <form action="/download" method="POST">
        <label for="url">Enter YouTube URL:</label>
        <input type="text" id="url" name="url" required>
        <button type="submit">Download</button>
    </form>
  <footer>©2024 William Felix - Tube2Go v1.0</footer>
</body>
</html>
